.boundary{
    margin : 10px;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-radius:15px !important;
    box-shadow: 2px 2px 4px grey;
}


.boundary2{
    padding:10px;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-radius:15px !important;
    box-shadow: 2px 2px 4px grey;

}